// Specific CSS for your home-page
body {
  background-color:#ffffff;
}


.flats-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 8px;
  border: none !important;
}

.card-body {
  padding-left: 0;
}
