// Specific CSS for your home-page
body {
  background-color:#ffffff;
  position: relative;
  min-height: 100vh;
  padding-bottom: 10rem;
}

.flats-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  flex-grow: 1;
  padding: 8px;
}

.card {
  margin: 8px;
  width: 230px;
}

.card-body {
  padding-left: 0;
}
