// Import page-specific CSS files here.
@import "home";
@import "show";

.flats-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: red solid 1px;
}


.card {
  margin: 8px;
  border: purple solid 1px;

}

.card-body {
  padding-left: 0;
}
