.flex {
  display: flex;
}


.booking {
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
  border-radius:5%;
}

.booking-button {
  background-color: #e41d57;
  color: white;
  border-radius:5%;

  &:hover {
    border: #e41d57 1px solid;
    background-color: #af1944;
  }

}

.back-button {
  background-color:white;
  color: black;
  border-radius:5%;
  border: black 1px solid;

  &:hover {
    border: black 1px solid;
    background-color:lightgrey;
  }
}

.card-img-top {
  height: 40rem !important;
}
