<div class="footer p-1">
  <div class="d-flex justify-content-between">
    <div class="w-25 p-1">
      <h3>Supports</h3>
      <ul class = "list-unstyled">
        <li><a href="#">Help Centre</a></li>
        <li><a href="#">AirCover</a></li>
        <li><a href="#">Supporting people with disabilities</a></li>
        <%# <li><a href="#">Cancellation options</a></li>
        <li><a href="#">Our COVID-19 Response</a></li>
        <li><a href="#">Report a neighbourhood concern</a></li> %>
      </ul>
    </div>
    <div class="w-25 p-1">
      <h3>Community</h3>
      <ul  class = "list-unstyled">
        <li><a href="#">Airbnb.org: disaster relief housing</a></li>
        <li><a href="#">Combating discrimination</a></li>
      </ul>
    </div>
    <div class="w-25 p-1">
      <h3>Hosting</h3>
      <ul class="list-unstyled">
        <li><a href="#">Airbnb your home</a></li>
        <%# <li><a href="#">AirCover for Hosts</a></li>
        <li><a href="#">Explore hosting resources</a></li> %>
        <%# <li><a href="#">Visit our community forum</a></li>
        <li><a href="#">How to host responsibly</a></li>
      </ul> %>
    </div>
    <div class="w-25 p-1">
      <h3>Airbnb</h3>
      <ul class="list-unstyled">
        <li><a href="#">Newsroom</a></li>
        <%# <li><a href="#">Learn about new features</a></li> %>
        <li><a href="#">Letter from our founders</a></li>
        <%# <li><a href="#">Careers</a></li>
        <li><a href="#">Investors</a></li> %>
      </ul>
    </div>
  </div>
  <div class="mt-1 d-flex justify-content-between">
    <ul class="list-unstyled d-flex">
      <li><a href="#" class="mx-1">© 2023 Airbnb, Inc</a></li>
      <li>·</li>
      <li><a href="#" class="mx-1">Privacy</a></li>
      <li>·</li>
      <li><a href="#" class="mx-1">Terms</a></li>
      <li>·</li>
      <li><a href="#" class="mx-1">Sitemap</a></li>
      <li>·</li>
    </ul>
    <ul class="logo list-unstyled d-flex justify-content-between">
      <li class="icon"><i class="fa-solid fa-globe"></i></li>
      <li><a href="#" class="mx-1">$ SGD</a></li>
      <li><a href="#" class="mx-1">English(SG)</a></li>
      <li><a href="#"><i class="mx-2 fab fa-instagram fa-xl"></i></a></li>
      <li><a href="#"><i class="mx-2 fab fa-facebook fa-xl"></i></a></li>
      <li><a href="#"><i class="mx-2 fab fa-twitter fa-xl"></i></a></li>
    </ul>
  </div>
</div>
