<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-3">Supports
        <ul>
          <li><a href="/help/home?from=footer">Help Centre</a></li>
          <li><a href="/aircover">AirCover</a></li>
          <li><a href="/accessibility">Supporting people with disabilities</a></li>
          <li><a href="/help/article/2701/extenuating-circumstances-policy-and-the-coronavirus-covid19">Cancellation options</a></li>
          <li><a href="/d/covidsafety">Our COVID-19 Response</a></li>
          <li><a href="/neighbors">Report a neighbourhood concern</a></li>
        </ul>
      </div>
      <div class="col-3">Community
        <ul>
          <li><a href="https://www.airbnb.org/?locale=en-SG&amp;_ga=2.132651149.26706904.1678939481-548678987.1678680506">Airbnb.org: disaster relief housing</a></li>
          <li><a href="/against-discrimination">Combating discrimination</a></li>
        </ul>
      </div>
      <div class="col-3">Hosting
        <ul>
          <li><a href="/host/homes?from_footer=1">Airbnb your home</a></li>
          <li><a href="/aircover-for-hosts">AirCover for Hosts</a></li>
          <li><a href="/resources">Explore hosting resources</a></li>
          <li><a href="/help/community?s=footer">Visit our community forum</a></li>
          <li><a href="/help/responsible-hosting">How to host responsibly</a></li>
        </ul>
      </div>
      <div class="col-3">Airbnb
        <ul>
          <li><a href="/press/news">Newsroom</a></li>
          <li><a href="/2022-winter">Learn about new features</a></li>
          <li><a href="https://news.airbnb.com/what-makes-airbnb-airbnb?_ga=2.99874845.26706904.1678939481-548678987.1678680506">Letter from our founders</a></li>
          <li><a href="/careers">Careers</a></li>
          <li><a href="https://investors.airbnb.com/?_ga=2.128325519.26706904.1678939481-548678987.1678680506">Investors</a></li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="logo d-flex list-unstyled justify-content-center">
    <li><a href="#"><i class="mx-2 fab fa-github fa-xl fa-beat-fade"></i></a></li>
    <li><a href="#"><i class="mx-2 fab fa-instagram fa-xl fa-beat-fade"></i></a></li>
    <li><a href="#"><i class="mx-2 fab fa-facebook fa-xl fa-beat-fade"></i></a></li>
    <li><a href="#"><i class="mx-2 fab fa-twitter fa-xl fa-beat-fade"></i></a></li>
    <li><a href="#"><i class="mx-2 fab fa-linkedin fa-xl fa-beat-fade"></i></a></li>
  </ul>
</div>
