// .footet ul {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
// }


.footer {
  color: hsla(120, 4%, 5%, 0.791);
  background-color: rgb(252, 252, 252);
  text-decoration: none;
  font-size: 15px;

  a, a:link, a:visited  {
    color: hsla(120, 4%, 5%, 0.791);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .icon {
    color: hwb(120 82% 13% / 0.791);
  }
}

.footer h3 {
  font-size: 15px;
  font-weight: bold;
}