
.footer {
  color: hsla(120, 4%, 5%, 0.791);
  background-color: rgb(250, 250, 250);
  text-decoration: none;
  font-size: 15px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;

  a, a:link, a:visited  {
    color: hsla(120, 4%, 5%, 0.791);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .icon {
    color: hwb(180 36% 63% / 0.791);
  }
}

.footer h3 {
  font-size: 15px;
  font-weight: bold;
}