.logo {
  color: #e41d57;
}

.logo-title {
  display: inline;
  color: #e41d57;
  font-family: monospace;
}

.logo-subtitle {
  display: inline;
  color: #e41d57;
  font-family: monospace;
  font-style: italic;
}
