.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  top: 0px;
  z-index: 9999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.profile-btn {

  &:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
  }
}
